@import url('base.css');

main{
    color: var(--cor_5);
    font-family: var(--fonte_corpo);
    font-size: var(--tamanho_fonte_corpo);
}

.apresentacao{
    min-width: 300px;
    max-width: 1000px;
    margin: 20px auto;
}

.apresentacao_titulo{
    font-family: var(--fonte_titulo);
    font-size: var(--tamanho_fonte_titulo);
    margin-bottom: 15px;

}

.apresentacao_paragrafo{
    text-align: justify;
    margin-bottom: 15px;

}

.apresentacao_link{
    display: flex;
    justify-content: center;
    text-decoration: none;
}



@media (max-width: 480px){
    .apresentacao_titulo{
        margin: 5px 50px 15px 15px;
    }

    .apresentacao_paragrafo{
        margin: 13px 58px 15px 5px;
    }

    .apresentacao_link{
        margin-bottom: 15px;
    }

}

@media (min-width: 481px) and (max-width: 767px){

    .apresentacao_titulo{
        margin: 5px 50px 15px 15px;
    }

    .apresentacao_paragrafo{
        margin: 13px 58px 15px 5px;
    }

    .apresentacao_link{
        margin-bottom: 15px;
    }



}



