@import url('base.css');

main{
    color: var(--cor_3);
    font-family: var(--fonte_corpo);
    font-size: var(--tamanho_fonte_corpo);
}

.apresentacao{
    margin-top: 15px;
}

.apresentacao_titulo{
    font-family: var(--fonte_titulo);
    font-size: var(--tamanho_fonte_titulo);
    margin: 0px 0px 15px 15px;
}

.apresentacao_paragrafo{
    text-align: justify;
    margin: 15px 200px 15px 15px;
}

.apresentacao_link{
    display: flex;
    justify-content: center;
    text-decoration: none;
}



@media (max-width: 800px){

    .cabecalho_titulo{
        padding: 82px 0px 25px 0px;
    }
    .cabecalho_img{
        left: 50px;

    }

    .apresentacao_paragrafo{
        margin: 15px;
    }

    .apresentacao_link{
        margin-bottom: 15px;
    }

}



