@font-face{
    font-family:'Mulish-Black';
    src: url('../Fontes/static/Mulish-Black.ttf') format('opentype');
    font-weight: normal;

    font-family:'Mulish-Regular';
    src: url('../Fontes/static/Mulish-Regular.ttf') format('opentype');
    font-weight: normal;

}
:root{
    --fonte_titulo: 'Mulish-Black',sans-serif;
    --fonte_corpo:  'Mulish-Regular',sans-serif;

    --tamanho_fonte_titulo: 30px;
    --tamanho_fonte_corpo: 20px;

    --cor_1: #3b5e97;
    --cor_2: #00202f;
    --cor_3: #fff; 
    --cor_4: #000000;

    --cor_aviso: #ff0000;
}


@media(max-width: 800px) {
    :root {
        --tamanho_fonte_titulo: 25px;
        --tamanho_fonte_corpo: 15px;
    }
}
