@import url('base.css');

  .formulario {
    max-width: 1000px; /* Largura máxima ajustada para 600 pixels */
    margin: 20px auto;
    padding: 10px;
    background-color: var(--cor_1);
    border-radius: 10px;
  }
  
  
  .formulario_titulo {
    margin: 30px 0;
    text-align: center;
    font-family: var(--fonte_titulo);
    font-size: var(--tamanho_fonte_titulo);
 
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    border: none;
    font-size: 16px;
    height: auto;
    padding: 15px;
    width: 98%;
    box-shadow: var(--sombra);
    margin-bottom: 30px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  
  .button {
    text-decoration: none;
    font-size: var(--tamanho_fonte_corpo);
    padding: 19px 39px 18px 39px;
    background-color: var(--cor_2);
    border-radius: 5px;
    box-shadow: var(--sombra);
    display: flex;
    justify-content: center;
  }

  .button:hover{
    background-color: var(--cor_3);
    color: var(--cor_5);
  }
  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  
  legend {
    font-family: var(--fonte_titulo);
    font-size: var(--tamanho_fonte_titulo);
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .light {
    display: inline-flex;
    margin-bottom: 12px;
  }


  
  .number {
    background-color: var(--cor_3);
    color: var(--cor_5);
    height: 30px;
    width: 30px;
    display: inline-block;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: var(--sombra);
    border-radius: 100%;
  }

  .titulo_label{
    font-family: var(--fonte_titulo);
    font-size: var(--tamanho_fonte_corpo);
    margin: 15px 0;
  }

  .underline-input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
  }

  .horizontal-radio {
    display: inline; 
    margin-right: 10px; 
  }
  
  table {
    width: 100%;
    border-collapse: collapse; /* Remove qualquer espaço duplo causado pelas  bordas */
  }

  /* Estiliza os cabeçalhos e células da tabela */
  th, td {
    border: 1px solid black; /* Adiciona uma borda preta */
    text-align: left; /* Alinha o texto à esquerda */
    padding: 8px; /* Adiciona um espaçamento interno para o texto não ficar colado na borda */
  }

  /* Estiliza o cabeçalho da tabela */
  th {
    background-color: var(--cor_3); /* Adiciona uma cor de fundo para o cabeçalho */
  }


